* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 80vh;
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade-out {
    animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* LOGIN */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    color: #388E3C; /* Verde claro */
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.login-container h3 {
    text-align: center;
    color: #666;
}

.login-container form div {
    margin-bottom: 20px;
}

.login-container form input,
.login-container form button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.login-container form input:focus {
    border-color: #388E3C; /* Green focus border */
    background-color: white;
    outline: none;
}

.login-container form button {
    background-color: #4CAF50; /* Verde del botón */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.login-container form button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* DASHBOARD */
.dashboard-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dashboard-container h2 {
    color: #388E3C;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.dashboard-container p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.dashboard-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.dashboard-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.dashboard-link i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.dashboard-link:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.dashboard-link:hover i {
    color: #2c6e2e;
}

.dashboard-link:active {
    transform: translateY(1px);
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .dashboard-container {
        width: 90%;
    }

    .dashboard-container h2 {
        font-size: 2rem;
    }

    .dashboard-link {
        font-size: 1rem;
    }
}