<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Client</title>
    <link rel="stylesheet" href="/static/form-styles.css">
</head>
<body>
    <div class="form-container">
        <h2>Delete Client</h2>
        <form action="/delete_client" method="delete">
            <div>
                <label for="nif">Enter Client NIF</label>
                <input type="text" id="nif" name="nif" required>
            </div>
            <button type="submit">Delete Client</button>
        </form>
    </div>
</body>
</html>
